# Ignore a specific file
config.json
.env

# Ignore a whole folder (and all its contents)
node_modules/
venv/
dist/

# Ignore all files with a specific extension
*.log
*.sqlite3

# Ignore files in a specific folder, but not subfolders
logs/*.txt

# Exception: DON'T ignore this specific file (even if matching a wildcard above)
!important.log
__pycache__/
*.pyc